:root {
  --primary: #91c499;
  --secondary: #bcd8b7;
  --tertiary: #6ba292;
  --bg: #595959;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  font-size: calc(1vw + 1vh + .5vmin);
  background-color: var(--bg);
}

html {
  background-color: var(--bg);
  overflow-x: hidden;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: var(--bg);
}

main {
  margin-top: 4vh;
  background-color: var(--bg);
}


.nav-container {
  justify-content: space-between;
  padding-bottom: 3vh;
  background-color: var(--bg);
  margin: 0 1vw;
}

.nav-text {
  font-size: large;
}

.nav-links {
  margin-left: auto;
  margin-right: 1vw;
}

.logo {
  color: var(--secondary);
}

.title-size {
  font-size: x-large;
  margin-top: 1.5vh;
}

.spacing {
  width: 40vw;
  margin: auto;
  text-align: center;
  box-sizing: border-box;

}

.nav {
  text-decoration: none;
  color: var(--secondary);
  background-color: var(--bg);
  margin-bottom: 0 !important;
}

.nav ul {
  margin-bottom: 0 !important;
}

.footer-pic {
  width: 100vw;
}

.footer-info {
  font-size: .85rem;
  color: var(--light);
  margin-top: 0;
}

.footer-icon {
  padding: 0 4px;
}

.background {
  background-color: var(--bg);
  margin-bottom: 0 !important;

}

.home-card {
  text-align: center;
  font-size: 1.8rem;
  justify-content: center;
  color: var(--primary);
  width: 35vw;
  text-align: left;
  margin-left: 5vw;

}

.home-layout {

  margin-left: auto;
  margin-right: auto;

}

.about-layout {
  margin: 2vh auto;
  align-items: center;
  justify-content: center;
}

.about-me {
  color: var(--light);
  text-align: left;
  margin: auto;
}

h1.about-me {
  font-size: 1.6rem;
}

p.about-me {
  font-size: .9rem;
}

.prof-pic {
  border-radius: 10%
}

.navActive {
  color: var(--light);
}

.NavItem:active {
  background-color: var(--light); //some color of your choice//
}

.hovering:hover {
  color: var(--primary);
}

.card-image {

  min-width: 300px;
  height: auto;

}

.portfolio-card {
  background-color: var(--tertiary) !important;
  color: var(--light);
  padding: 0 1vw;
  margin: 1vw 1px;
  justify-content: center;
}

.card-width {
  width: 40vw;
  text-align: center;
  margin: auto;
}

.project-image {
  width: 14vw;
  min-width: 100px;
  height: auto;
  margin: 2vh auto 0 auto;
}

.project-container {
  margin: auto;
  text-align: center;
  justify-content: space-around;

}

.text-size {
  font-size: .9rem;
}

.alt-size {
  font-size: .25rem;
}

.text-right {
  text-align: right;
}

.form-container {
  text-align: left;
  margin: auto;

}


.spacing {
  padding-top: 2vh;
}

.form-input {
  width: 100%;
  margin: 1vh auto;
}

.form-text-1 {
  font-size: .8rem;
}

.submit-btn {
  color: var(--light);
  background-color: var(--secondary);
  border-radius: 15%;
  margin: 2vh auto;
  border: none;
  font-size: .7rem;
}

.resume {
  width: 50vw;
}

.center {
  text-align: center;
}

.active {
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo {
    color: var(--secondary);
    width: 80vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo {
    color: var(--secondary);
    width: 80vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo {
    color: var(--secondary);

  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo {
    color: var(--secondary);

  }
}