:root {
  --primary: #35ce8d;
  --secondary: #bcd8b7;
  --tertiary: #6ba292;
  --bg: #504b43;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  font-size: calc(1vw + 1vh + .5vmin);
}

html {
  background-color: var(--bg);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: var(--bg);
}

main {
  margin-top: 4vh;
  background-color: var(--bg);
}

.nav-text {
  font-size: 2rem;
}

.logo {
  color: var(--primary);
}

.nav {
  text-decoration: none;
  color: var(--tertiary);
  background-color: var(--bg);
  margin-bottom: 0 !important;
}

.about-me {
  color: var(--light);
  margin: auto;
}

h1.about-me {
  font-size: 1.6rem;
}

p.about-me {
  font-size: .6rem;
}

.navActive {
  color: var(--primary);
}

.NavItem:active {
  background-color: var(--primary); //some color of your choice//
}

.hovering:hover {
  color: var(--primary);
}

.background {

  background-color: var(--bg);

}

.card-image {
  max-width: 90vw;
  height: auto;

}

.portfolio-card {
  background-color: var(--tertiary) !important;
  color: var(--secondary);
  justify-content: center;
  margin: auto;
}

.card-width {
  width: 40vw;
  text-align: center;
  margin: auto;
}

.project-image {
  width: 20vw;
  height: auto;
  margin: 2vh auto auto auto;
}

.project-container {
  margin: auto;
}

.text-size {
  font-size: 1rem;
}

.alt-size {
  font-size: .25rem;
}

.text-right {
  text-align: right;
}

.form-input {
  width: 35vw;
}

.form-text-1 {
  font-size: 1.5rem;
}

.center {
  text-align: center;
}

.active {
  color: var(--primary);
}