:root {
  --primary: #35ce8d;
  --secondary: #bcd8b7;
  --tertiary: #6ba292;
  --bg: #504b43;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

html {
  background-color: var(--bg);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: var(--bg);
}

main {
  margin-top: 4vh;
  background-color: var(--bg);
}

.logo {
  color: var(--primary);
}

.nav {
  text-decoration: none;
  color: var(--tertiary);
  margin-bottom: 3vh;
}

.about-me {
  color: var(--light);
}

.navActive {
  color: var(--primary);
}

.NavItem:active {
  background-color: var(--primary); //some color of your choice//
}

.hovering:hover {
  color: var(--primary);
}

.background {

  background-color: var(--bg);

}

.card-image {
  width: 35vw;
  height: auto;
}

.portfolio-card {
  background-color: var(--tertiary) !important;
  color: var(--secondary);
}

.card-width {
  width: 40vw;
  text-align: center;
  margin: auto;
}

.text-right {
  text-align: right;
}